.custom-select {
    position: relative;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.custom-select select{
    font-size: 15px;
    color: white;
    -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #FCDF2B;
    user-select: none;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 1);
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    padding: 0.6rem 2.4rem 0.6rem 0.8rem;
    border: 1px solid #FCDF2B;
    border-radius: 3px;
    outline: none;
    background: transparent;
    align-self: center;
}

.custom-select:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 44px;
    background: transparent;
    z-index: 0;
}

.custom-select:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    background-image: url(../../assets/down-caret.svg);
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
}