.loader {
    display: inline-block;
    position: relative;
    width: 42px;
    height: 42px;
    margin-top: 1.5rem;
  }
  .loader:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    box-sizing: border-box;
    border: 26px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: loader 1.2s infinite;
  }
  @keyframes loader {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }

  @media only screen and (max-width: 600px) {
    .loader {
      width: 25px;
      height: 25px;
    }
  }
  