.wrapper {
  background-color: black;
  width: 100%;
  text-align: center;
}
.main {
  min-height: calc(100vh - 10rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1rem double rgba(255, 204, 24, 0.7);
  padding: 4rem 0;
}

#logo{
  height: 4rem;
}

table {
  z-index: 5;
  margin-top: 2rem;
  margin-bottom: 4rem
}

th {
  background: rgba(255, 204, 24, 0.3);
}

th button {
  padding: 1rem 5rem;
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
  color: #FFCC18;
  font-size: 1rem;
  font-weight: bold;
}

th button:focus {
  outline: 2px solid white
}

th img {
  margin-left: 1rem;
}

th img[data-toggle="desc"] {
  transform: rotate(180deg);
  margin-left: 1rem;
}

th img[data-toggle="none"] {
  visibility: hidden;
}

tbody td {
  padding: 1rem;
  background: rgba(255, 255, 255, 0.3);
  color: white;
}

tfoot tr{
  padding: 1rem 0;
  background: rgba(255, 204, 24, 0.3);
  color: #FFCC18;
  position: sticky;
}

tfoot td {
  padding: 0.6rem 1.5rem;
  text-align: right;
  color: white;
  font-weight: bold;
}

td p {
  font-size: 0.8rem;
  padding-bottom: 0;
  margin: 0;
  font-weight: normal;
}

#error{
  font-size: 2rem;
  color: white;
}

#playCrawl{
  text-decoration: slategrey;
  background: none;
  border: none;
  border-bottom: 2px solid #FFCC18;
  outline: none;
  padding: 0.8rem;
  color: #FFCC18;
  cursor: pointer
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 0.8rem;
  }

  tfoot td {
    padding: 0.3rem 1rem;
  }

  tfoot tr{
    padding: 0.5rem 0;
  }
  tbody td {
    padding: 0.5rem;
  }
  th button {
    padding: 0.5rem 1rem;
  }
}