/* body {
  background-color: #FFCC18;
  margin: 1.6rem;
} */

.wrapper {
  /* background-image: url(./assets/background.png); */
  background-color: black;
  width: 100%;
  text-align: center;
}
.main {
  min-height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1rem solid rgba(255, 204, 24, 0.7);
  padding: 4rem 0;
}

.main img{
  height: 4rem;
}

table {
  z-index: 5;
  margin-top: 2rem;
  /* border: 1px solid white; */
  /* width: 40%; */
}

th {
  padding: 1rem 5rem;
  background: rgba(255, 204, 24, 0.3);
  color: #FFCC18;
}

tbody td {
  padding: 1rem;
  background: rgba(255, 255, 255, 0.3);
  color: white;
}

tfoot tr{
  padding: 1rem 5rem;
  background: rgba(255, 204, 24, 0.3);
  color: #FFCC18;
  position: sticky;
}

tfoot td {
  padding: 0.6rem 1.5rem;
  text-align: right;
  color: white;
  font-weight: bold;
}

td p {
  font-size: 0.8rem;
  padding-bottom: 0;
  margin: 0;
  font-weight: normal;
}
